$themes: (
    light: (
        bg-color : #e8f1ec,
        text-color: #130f40,
        text-color-2: rgba(128, 128, 128, 0.8),
        secondary-color: rgb(0, 0, 255),
    ),
    dark: (
        bg-color : #130f40,
        text-color: #e8f1ec,
        text-color-2: rgba(128, 128, 128, 0.8),
        secondary-color: rgb(0, 0, 255),
    )
);