$themes: (
    light: (
        primary-color : #fff,
       
        text-color: #000,
        text-color2: #9763A3,

        nav : rgb(45, 9, 52, 0.8),
    ),
    dark: (
        primary-color : #1B0420,
        secondary-color : #2C0933,
        text-color: #fff,
        text-color2: #9763A3,
        nav : #fff,
    )
);