$themes: (
    light: (
        primary-color : #fff,
       
        text-color: #ffffff,
        text-color2: #9763A3,
        text-color3: #280830,
        background-color-landing: #e7e7e7,
        background-color-card: #ffffff,

        nav : rgb(45, 9, 52, 0.8),
    ),
    dark: (
        primary-color : #1B0420,
        secondary-color : #2C0933,
        text-color: #fff,
        text-color2: #2C0933,
        text-color3: #f5f5f5,
        background-color-landing: #1B0420,
        background-color-card: #3c0e46,
        nav : rgba(167, 137, 173, 0.63),
    )
);