.service_container {
    @include theme-aware("background-color", "background-color-landing");
    position: relative;
    padding: 0 50px 50px;
    width: 100%;

    h1 {
        font-size: 90px;
        font-weight: bolder;
        z-index: 4555;
    }
    .services {
        display: flex;
        justify-content: space-between;
        gap: 1px;
        height: 42vh;
        margin-bottom: 20px ;
    }
    
    .secondary_services {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 1px;
    
        img {
            width: 800px;
        }
    
        .left_services {
            position: relative;
            top: 10rem;
            left: 12rem;
    
            h4 {
                font-size: 18px;
                letter-spacing: 0.2rem;
                color: #a000fc;
            }
    
            h2 {
                font-size: 54px;
                font-weight: bold;
                letter-spacing: 0.2rem;
                @include theme-aware("color", "text-color3");
            }
    
            h3 {
                font-size: 18px;
                font-weight: lighter;
                color: #b78fc0;
    
            }
        }
    
    }
    .tertiaire_services {
        position: relative;
        display: flex;
        justify-content: space-between;
        gap: 1px;
    
        img {
            position: relative;
            width: 600px;
            left: 12rem;
        }

        .next_services{
            position: relative;
                top: 16rem;
                right: 12rem;
                text-align: right;

                h4 {
                    font-size: 18px;
                    letter-spacing: 0.2rem;
                    color: #fc8600;
                }
        
                h2 {
                    font-size: 34px;
                    font-weight: bold;
                    letter-spacing: 0.2rem;
                    @include theme-aware("color", "text-color3");
                }
        
                h3 {
                    font-size: 18px;
                    font-weight: lighter;
                    color: #b78fc0;
        
                }
        }
    }
}

